default unattended
prompt 0
timeout 0
label unattended
  kernel /install/vmlinuz
  append auto=true priority=critical lang=fr locale=en_US.UTF-8 console-keymaps-at/keymap=fr-latin9 vga=788 initrd=/install/initrd.gz quiet --
